<div class="container">
  <div class="my-form"><h1>Ask away!</h1>
    <h3>Ask your coach anything....</h3>

    <form action="/answer" class="form-inline ask-form">
      <input type="text" class="form-control mb-2 mr-sm-2" name="coachquestion">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </form></div>
</div>
