// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  font-family: lato;
}

h1 {
    color: #5BAEE4;
    // margin: 20px;
}

h2, h3, h4, h5 {
    color: #5BAEE4;
}

.ask-form {
  // margin: 20px;
}

.my-form {
  margin: 20px;
}
